body{
    background-color: rgb(221, 247, 228);
    
}

.img-fluid{
display: flex;
margin: auto;
width: 300px;

}
.nav{

}

.nav-item{
width:30%;
margin:auto;
display:flex;
justify-content: space-around;
}
