<html>
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <body>  
                    <div id="erreur-message"></div>
                <script >
                    $(document).ready(function() {
                    $.ajax({
                        url: 'computerApp/views.py',  // Remplacez par l'URL correspondant à votre vue Django
                        dataType: 'json',
                        success: function(response) {
                        var code_erreur = response.code_erreur;
                        if (code_erreur === 1) {
                            // Afficher un message d'erreur
                            $('#erreur-message').text("Le nom que vous avez rentré fait plus de 10 caratères");
                        } 
                        else {

                            $('#erreur-message').text("erreur inconnue.");
                        }
                        },
                        error: function(xhr, status, error) {
                        console.error(error);
                        }
                    });
                    });

                </script>
            </body>
</html>