{% extends "index.html" %} 

    {% block content %} 
        <h1>Nom: {{ personne.nom }}</h1>
        <p><strong>numéro de sécu : </strong> {{ personne.socialsecurity }} </a></p>
        <p><strong>Prénom : </strong> {{ personne.prenom }}</p>
    {% endblock %} 



<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Nom: </div>
        {{ personne.nom }}
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Content for list item
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Content for list item
      </div>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
  </ol>